body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343434;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: rgb(215, 215, 215);
  }
  
  #listaProdutos {
    list-style-type: none;
    color: #fff;
    padding: 0;
  }
  
  #listaProdutos li {
    border-bottom: 1px solid rgb(131, 59, 59);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #dc3545;
    color: #fafafa;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  input[type="text"] {
    padding: 8px;
  }
  
  input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  